# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Base de datos
*.db
*.db-wal
*.db-shm

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
data/

# Logs
*.log

# Seed temporal
seed_db.py
